body{
    margin-top:90px!important;
}
.navbar{
    padding:10px 40px 10px 40px!important;
}
.navbar-expand-md{
    background:#fff;
    border:0;
    font-family: Poppins;
    }
.navbar{
    border:1px solid rgb(168, 168, 168);
}
    .navbar-brand{
    color:#000!important;
    font-size:22px!important;
    font-weight: bold;
}   
.nav-link   {
    color:#000!important;
}
.showcase{
    margin-bottom:50px;
}
.showcase-btn{
    border:1px solid #000!important;
}
.showcase-right,.showcase-left{
    padding:40px 0 40px 0;
}

.testimonial{
    background:#f1f1f1;
    padding:40px 0 30px 0;
    text-align:center;
}

.info{
    margin-bottom: 50px;
}

.image-info{
    width: 50%;
    display: block;
    margin:auto;
}
.info-left ,.info-right{
    text-align: center;
    margin:30px 0 30px 0;
}

.contact{
    background: url(/img/bg.jpeg);
    background-size: cover;
    padding:30px 0 50px 0;   
    position: relative;
}

